.info-card-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 6px;
    border: 0.25px solid rgb(221, 219, 219);
    box-shadow: 2px 2px  6px 6px rgba(140, 138, 138, 0.1);
    min-width: 200px ;
} 


.job-post-date{
    font-size: 12px;
    text-align: start;
    padding: 8px;
}


.card-details-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.heading{
    font-size: 14px;
    font-weight: 600;
    text-align: start;
    padding: 2px 8px;
    vertical-align: top;
}
.data{
    font-size: 14px;
    text-align: start;
    
}

.buttons-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 6px;
}

.button{
   flex: 1;
   font-size: 14px;
   font-weight: 500;
   color: blue;
   border: 1px solid blue;
   border-radius: 4px;
   padding: 6px;
}

.button:hover{
    background-color: #0077b6;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:active{
    background-color: #0168a0;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.edit-link{
    text-decoration: none;
}